form{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-mainColor);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    gap: 20px;
}

form > label{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

form > label > input,
.input-container input{
    width: 100%;
    min-height: 38px;
    border-radius: 5px ;
    border: 1px solid black;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 35px;
}

form > label > input:focus,
.input-container input:focus{
    outline: none;
}

.auth-button{
    width: 200px;
    min-height: 38px;
    background-color: transparent;   
    border: 1px solid black;
    border-radius: 10px;
}

.auth-button:hover{
    cursor: pointer;
}

.input-container{
    width: 100%;
    position: relative;
}

.eye-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.eye-icon:hover{
    cursor: pointer;
}