.banner-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-items-container{
    width: 90%;
    height: 380px;
    border-radius: 24px;
    background-color: #C1DCDC;
    display: flex;
    overflow: hidden;
}

.text-container{
    width: 50%;
    height: 380px;
    padding-left: 40px;
}

.image-container{
    width: 50%;
    height: 380px;
    position: relative;
    display: flex;
    justify-content: center;
}

.flower-image{
    width: 310px;
    height: 340px;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.amounts-counterInfo{
    width: 350px;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 30px;
    margin-top: 10px;
}

.line{
    min-width: 55px;
    height: 1px;
    background-color: black;
    transform: rotate(90deg);
}

.searchbar{
    width: 350px;
    height: 50px;
    margin-top: 30px;
    position: relative;
}

.searchbar input{
    width: 350px;
    height: 100%;
    border-radius: 6px;
    border: 0;
    padding-left: 15px;
    padding-right: 50px;
    box-sizing: border-box;
}

.searchbar input:focus{
    outline: none;
}

.searchIcon-container{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #C1DCDC;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
    z-index: 2;
    opacity: 0.5;
}

@media screen and (max-width: 880px) {
    .banner-items-container{
        flex-direction: column;
        height: auto;
        width: 500px;
    }

    .banner-container{
        height: auto;
    }

    .image-container{
        width: 100%;
    }

    .text-container{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        text-align: center;
    }
    

    .left-arrow{
        right: 230px;
        top: -10px;
        transform: rotate(50deg);
    }

    .searchbar{
        width: 90%;
    }

    .searchbar input{
        width: 100%;
    }

    .amounts-counterInfo{
        width: 90%;
        box-sizing: border-box;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
   .banner-container{
    width: 90%;
   }
}

@media screen and (max-width: 425px) {
    .flower-image{
        width: 90%;
        right: 20px;
        height: auto;
        bottom: 50%;
        transform: translateY(30%);
        right: auto;
    }

    .left-arrow{
        display: none;
    }

    .right-arrow{
        display: none;
    }
    
    .banner-items-container{
        gap: 20px;
    }

    .image-container{
        align-items: center;
        justify-content: center;
    }
 }

@media screen and (max-width: 372px) {
    .amounts-counterInfo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .line{
        transform: rotate(0deg);
        width: 90%;
    }

    .text-container{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
 }

 
@media screen and (max-width: 340px) {
   .image-container{
    height: 300px;
   }
 }