.categories-container{
    width: 100%;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-list{
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: #C1DCDC;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.categories-card{
    width: 300px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    text-align: center;
}

.categories-card img{
    width: 100%;
}

.first-card {
    margin-top: -300px;
}

.third-card {
    margin-top: -300px;
}

.explore-btn{
    width: 150px;
    height: 38px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.explore-btn:hover{
    cursor: pointer;
}

@media screen and (max-width: 957px) {
    .first-card{
        margin-top: 0;
    }

    .categories-list{
        padding-block: 40px;
        margin-top: 40px;
    }

    .third-card{
        margin-top: 0;
    }
}

@media screen and (max-width: 350px) {
    .categories-card{
        width: 90%;
    }
}