.comments-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;   
    flex-direction: column;
    align-items: center;
}

.comments-card{
    width: 580px;
    height: auto;
    background-color: #C1DCDC;
    border-radius: 10px;
    position: relative;
    padding-inline: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.rate-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.cards-list{
    width: 100%;
    display: flex;
    height: auto;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.user-info-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.comment-input-container{
    width: 100%;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.comment-input-container textarea{
    max-width: 400px;
    min-width: 150px;
    width: 400px;
    color: black;
    min-height: 70px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
}

.comment-input-container textarea:focus{
    outline: none;
}

.comment-btn{
    width: 200px;
    height: 38px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.comment-btn:hover{
    cursor: pointer;
}

.options-container{
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-box{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info-box input{
    width: 190px;
    height: 38px;
    padding-inline: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.user-info-box input:focus{
    outline: none;
}

.star-container{
    max-width: 200px;
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.star-container:hover{
    cursor: pointer;
}

.edits-container{
    position: absolute;
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 10px;
    left: 0;
    gap: 20px;
}

.edit-icons:hover{
    cursor: pointer;
}

.txt-edit-textarea{
    max-width: 90%;
    width: 90%;
    min-height: 100px;
    margin: 70px auto 0;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
}

.txt-edit-textarea:focus{
    outline: none;
}

.hint-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hint-container p{
    font-size: 20px;
}

.save-btn{
    width: 150px;
    height: 38px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-btn:hover{
    cursor: pointer;
}

@media screen and (max-width: 690px){
    .comments-card{
        width: 80%;
        height: auto;
        padding-block: 30px;
    }

    .comments-card :nth-child(1){
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 460px){
    .comment-input-container textarea{
        width: 80%;
    }

    .options-container{
        flex-direction: column;
        gap: 20px;
    }

    .comment-input-container p{
        text-align: center;
    }
}