.contactus-container{
    width: 100%;
    min-height: 559px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-bottom: 50px;
}

.contactus{
    width: 400px;
    height: auto;
    padding-block: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C1DCDC;
}

.fields-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fields-container label{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.fields-container input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    padding-inline: 10px;
    color: black;
    transition: 0.3s all;
}

.fields-container textarea{
    max-width: 100%;
    min-width: 80px;
    min-height: 100px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    padding-inline: 10px;
    color: black;
}

.fields-container textarea:focus{
    outline: none;
}

.fields-container textarea::placeholder{
    color: gray;
}

.fields-container input:focus{
    outline: none;
}

.fields-container input::placeholder{
    color: gray;
}

.send-btn{
    width: 200px;
    height: 38px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: transparent;
    transition: 0.3s all;
}

.send-btn:hover{
    cursor: pointer;
}

@media screen and (max-width: 435px) {
    .contactus{
        width: 90%;
    }
}