header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Advent-Pro", sans-serif !important;
    font-weight: 500;
    position: relative;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    gap: 10px;
    transition: 0.2s all;
}

nav p:hover{
    cursor: pointer;
}

.nav-words{
    color: rgba(30, 30, 30, 50%);
    display: flex;
    gap: 50px;
}

.nav-words p{
    font-family: "Advent-Pro", sans-serif !important;
}

.navigation-words{
    display: flex;
    gap: 80px;
}

.navigation-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icons:hover{
    cursor: pointer;
}

.userItems-container{
    width: 200px;
    height: 200px;
    background-color: #C1DCDC;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: 0.2s all;
}

.profile-items{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    font-family: 'Advent-Pro', sans-serif;
}

.profile-items p{
    font-family: 'Advent-Pro', sans-serif;
}

.profile-items:hover{
    background-color: white;
}

.dropbox-items p{
    font-family: 'Advent-Pro', sans-serif;
}

.menu-container{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-dropbox{
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1DCDC;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
}

.dropbox-items{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbox-items:hover{
    cursor: pointer;
    background-color: white;
}

.settings-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}


.settings-pad{
    width: 400px;
    height: auto;
    display: flex;
    background-color: #C1DCDC;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.settings-pad label{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-pad label > input{
    width: 100%;
    box-sizing: border-box;
    min-height: 38px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding-inline: 10px;
}

.settings-pad label > input:focus{
    outline: none;
}

.saveChanges-btn{
    width: 90%;
    margin: 0 auto;
    height: 38px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
}

.saveChanges-btn:hover{
    cursor: pointer;
}

@media screen and (max-width: 475px){
    .settings-pad{
        width: 80%;
        margin-inline: 20px !important;
    }
}

@media screen and (max-width: 690px){
    nav h1{
        display: none;
    }

    nav{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 485px){
    .nav-words{
        display: none;
    }

    nav{
        justify-content: center;
    }
}