.plantsList-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
    flex-wrap: wrap;
}

.plants-card{
    width: 250px;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    position: relative;
    transition: 0.2s all;
}

.plant-img{
    width: 250px;
    max-height: 302px;
}

.cart-icon{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    z-index: 2;
}

.del-icon{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    z-index: 2;
}

.del-icon:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid white;
}

.cart-icon:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid white;
}

.buy-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: 0.2s all;
}

.buy-container button{
    width: 200px;
    height: 38px;
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    background-color: #00fe80;
    color: white;
    transition: 0.2s all;
    margin-bottom: 100px;
}

.buy-container button:hover{
    transition-delay: 0.1s;
    cursor: pointer;
    box-shadow: 0 0 5px #00fe80, 0 0 10px #00fe80, 0 0 15px #00fe80;
}

.line-close{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 20px;
}

.edit-icon{
    position: absolute;
    top: 3px;
    left: 95px;
    color: gray;
}

.edit-inputs{
    width: 130px;
    border: 1px solid black;
    border-radius: 5px;
    padding-inline: 10px;
    background-color: transparent;
}

.edit-inputs:focus{
    outline: none;
}

.edit-btn{
    width: 120px;
    height: 28px;
    margin-top: -5px;
    margin-left: 18px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
}

.edit-btn:hover{
    cursor: pointer;
}

@media screen and (max-width: 300px) {
    .plants-card{
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .plant-img{
        width: 100%;
    }
}