* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body,
html {
  overflow-x: hidden;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-mainColor: #c1dcdc;
}
